<html>

<head>
  <link href='/assets/style.css' type='text/css' rel='stylesheet' />
</head>

<body>
  <h1>Invalid view type</h1>
  <div>
    Please, enter 'all', 'keyareas' or 'clusters' as view type.

  </div>
</body>

</html>
