<html>

<head>
  <link href='/assets/style.css' type='text/css' rel='stylesheet' />
</head>

<body>
  <h1>TPI NEXT</h1>
  <h2>Checkpoints by cluster</h2>
  <table>
    <tr>
      <th>Seq.#</th>
      <th>Checkpoint</th>
      <th>Value</th>
      <th>Notes</th>
    </tr>
    <tr id='01C1'>
      <td name='seq'></td>
      <td name='chk'></td>
      <td name='val'></td>
      <td name='not'></td>
    </tr>
  </table>
</body>

</html>
